[Unit]
Description=OakBrew HW control
After=network.target

[Service]
WorkingDirectory=/root/dev/oakbrew-hw-ctrl-build
ExecStart=/root/dev/oakbrew-hw-ctrl-build/oakbrew-hw-control
TimeoutSec=0
Restart=always

[Install]
WantedBy=multi-user.target
